<html>
<head>
    <title>To Do List App</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<h1 id="centerHeading">
    TODO App
</h1>    
<hr class="solid">
<form action="/add-task" method="POST">
    <p>DESCRIPTION</p>
<input type="text" name="work" placeholder="What do you need to do ?" required>
<br>
<hr class="solid">
<label>CATEGORY</label>
<select name="category">
    <option value="Personal">PERSONAL</option>
    <option value="Office">OFFICE</option>
    <option value="Private">PRIVATE</option>
    <option value="School">SCHOOL</option>
  </select>
  <label name="taskDate">DUE DATE:</label>
<input type="date"  name="taskDate">
<br>
<hr class="solid">
<button>ADD TASK</button>
</form>
<button>DELETE TASK</button>
<hr class="solid">

<div>
    <% for (let i of task_list) { %> 
<input type="checkbox" id="btnCheckbox" name="taskChecked" value="taskSelected">
<label for="task1"><%= i.work%> </label>
<br>
<label for="dateWork"><%=i.taskDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })%></label>
<br>
<label for="dateWork"><%=i.category%></label>
<hr class="solid">
<% } %>
</div>

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>